{% extends 'base.html' %} {% load static %} {% block content %}

<div class="container">
    <div class="row">

        {% for post in blogs %}
        <div class="col-sm-4 mt-2">
            <div class="card">
                <img src="{{post.image.url}}">
                <div class="card-body">
                    <h5 class="card-title">{{post.title}}</h5>
                    <p class="card-text">{{post.content|truncatewords:10}}</p>
                    <a href="{% url 'one_post' post.id%}" class="btn btn-primary">Somewhere</a>
                </div>
            </div>
        </div>

    {% endfor %}

    </div>
</div>
{% endblock content %}